---
pageable: true
per_page: 6
---

%header.main-header.tag-head{cover}
  %nav.main-nav.overlay.clearfix
    %a.back-button.icon-arrow-left{href: home_path} Home
    %a.subscribe-button.icon-feed{href: feed_path}= tagname
  .vertical
    .main-header-content.inner
      %h1.page-title= tagname
      %h2.page-description A #{page_articles.count}-post collection

%main#content.content{role: :main}
  - page_articles.each_with_index do |article, i|
    %article.post
      %header.post-header
        %h2.post-title= link_to article.title, article
      %section.post-excerpt
        %p
          -# Use article.body if you haven't Nokogiri available
          -# = article.body
          = summary(article)
          = link_to '&raquo;', article, class: 'read-more'
      %footer.post-meta
        - if gravatar?
          %img.author-thumb{src: gravatar(24), alt: 'Author image',nopin: 'nopin'}
        %a{href: author_path}= blog_author.name
        - if tags?(article)
          on #{tags(article)}
        %time.post-date{datetime: article.date.strftime('%Y-%m-%d')}
          = article.date.strftime(blog_settings.date_format)

= partial "partials/pagination" if paginate

